{# Interface utilisateur sur la page d'accueil cela lui permet de pouvoir accéder à la page de création d'une élection,
de voir des informations concernant une élection en particulier, ainsi que de visualiser les élections qu'il y a.
Il peut aussi accéder à la page pour voter donc créer son bulletin, pour le thème qu'il souhaite et par ailleurs
de voir les résultats d'une élection en particulier#}

{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<h1>Accueil</h1>

<a href="{{ path('create_election') }}" class="btn btn-primary">Créer une élection</a>

<h2>Élections disponibles</h2>
<ul>
    {% for election in elections %}
        <li>
            <a href="{{ path('infos_election', { id: election.id }) }}">Information concernant cette élection : {{ election.theme }}</a>
            <a href="{{ path('new_bulletin', { id: election.id }) }}" class="btn btn-success">Voter</a>
            <a href="{{ path('election_determine_winners', { id: election.id }) }}" class="btn btn-info">Voir les résultats</a>
        </li>
    {% endfor %}
</ul>
{% endblock %}
